ul {
  list-style-type: none;
  text-align: center;
}

#three {
  text-align: center;
  display: block;
}

.icoLinked {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

#one {
  background-color: lightgray;
}

#three {
  background-color: lightgray;
}
